<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybatis.mapper.StudyMybatisMapper">

    <select id="getById" resultType="MybatisDemoDTO">
        SELECT * FROM mybatis_demo where id = #{id}
    </select>

    <select id="getAll" resultType="MybatisDemoDTO">
        SELECT * FROM mybatis_demo
    </select>

</mapper>